.card {
  width: 288px;
}

.cardHeader {
  background: #e0e0e0;
  border-radius: 4px 4px 0px 0px;
  padding: 16px 14px;
}

.cardBody {
  background: #eeeeee;
  border-radius: 0px 0px 4px 4px;
  padding: 16px;
}
