.companyListItem {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
}

.companyListItemInfo {
  background: #eeeeee;
  border-radius: 4px 0px 0px 4px;
  padding: 16px;
}

.companyListItemRow {
  display: flex;
  justify-content: space-between;
}

.companyListItemName {
  color: #2b4583;
}

.companyListItemRev {
  color: #2b4583;
}

.companyListItemViewMore {
  background: #e3ecff;
  border-radius: 0px 4px 4px 0px;
  display: grid;
  font-size: 11px;
  padding: 16px;
  text-align: center;
}
